* { margin: 0; padding: 0; }

@keyframes slidein {
    from { top: -80px; }
    to { top: 0; }
}

@keyframes slideside {
    from { left: 100% }
    to { left: 0; }
}

body {
    background-image: url(../images/background.jpg);
    background-color: #000000;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 1300px;
}

.subtitle {
    font-family: Ubuntu;
    font-weight: normal;
    font-size: 32px;
    text-align: center;
    color: #333333;
    padding-top: 10px;
}

.exclaimed {
    font-family: Ubuntu;
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
    text-align: center;
    color: #333333;
    padding-bottom: 20px;
}

.maintext {
    font-family: Ubuntu;
    font-weight: normal;
    font-size: 18px;
    text-align: justify;
    padding: 10px;
    color: #333333;
}

#title {
    font-family: Ubuntu;
    font-weight: normal;
    font-size: 32px;
    margin: 20px;
    color: #333333;
    position: fixed;
    z-index: 1;
}

#rectangle {
    width:100%;
    height:80px;
    background: linear-gradient(to top, #00A9FF, #00FFC3);
    position: fixed;
    top: 0;
    z-index: 1;
    animation: slidein 1s;
}

.bigbox {
    display: inline-block;
    cursor: pointer;
    z-index: 1;
}

.linetop {
    width: 32px;
    height: 4.8px;
    background-color: #333333;
    transition: 0.5s;
    top: 24px;
    right: 24px;
    position: absolute;
    z-index: 1;
}

.linemid {
    width: 32px;
    height: 4.8px;
    background-color: #333333;
    transition: 0.5s;
    right: 24px;
    top: 35px;
    position: absolute;
    z-index: 1;
}

.linebot {
    width: 32px;
    height: 4.8px;
    background-color: #333333;
    transition: 0.5s;
    right: 24px;
    top: 46px;
    position: absolute;
    z-index: 1;
}

.boxclick {
    width: 32px;
    height: 27px;
    transition: 0.5s;
    position: absolute;
    right: 24px;
    top: 24px;
    z-index: 1;
}

.rotate .linetop {
    -webkit-transform: rotate(315deg) translate(-9px, 6.5px);
}

.rotate .linemid {
	-webkit-transform: rotate(360deg);
    opacity: 0;
}

.rotate .linebot {
    -webkit-transform: rotate(405deg) translate(-9px, -6.5px);
}

.boxnav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 80px;
    right: 0;
    background: linear-gradient(to bottom, #00A9FF, brown);
    overflow-x: hidden;
    padding-top: 24px;
    transition: 0.5s;
    z-index: 1;
}

.boxnav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-family: Ubuntu;
    color: #333333;
    display: block;
    transition: 0.3s;
    z-index 1;
}

.boxnav a:hover {
    color: #f0f0f0;
}

.block {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    top: 120px;
    height: 1100px;
    width: 80%;
    box-shadow: 0px 0px 20px #000000;
    margin: 0 auto;
    right: 0;
    bottom: 0;
    left: 0;
    animation: slideside 1s;
    min-width: 1000px;
}

#pic1 {
    background-image: url(../images/water.jpg);
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 5px #000000;
    margin: 20px 100px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: 0.5s;
}

#pic1:hover {
    cursor: pointer;
    transform: scale(1.2);
}

#pic1 p {
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    line-height: 200px;
    opacity: 0;
    transition: 1s;
    text-shadow: 0px 0px 5px #FFFFFF;
}

#pic1 p:hover {
    opacity: 1;
}

#pic2 {
    background-image: url(../images/overclock.jpg);
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 5px #000000;
    margin: 20px 100px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: 0.5s;
}

#pic2:hover {
    cursor: pointer;
    transform: scale(1.2);
}

#pic2 p {
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    line-height: 200px;
    opacity: 0;
    transition: 1s;
    text-shadow: 0px 0px 5px #FFFFFF;
}

#pic2 p:hover {
    opacity: 1;
}

#wowtext {
    font-family: Ubuntu;
    text-align: right;
    text-shadow: 0px 0px 5px #FFFFFF;
    font-weight: normal;
    font-size: 18px;
    color: #333333;
    margin-top: 50px;
    margin-left: 35px;
    text-align: justify;
}

#righto {
    float: right;
}

#video {
    width: 640px;
    height: 360px;
    margin-right: 50px;
    margin-top: -220px;
    margin-left: 20px;
    box-shadow: 0px 0px 5px #000000;
}